NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/portfolio
JWT_SECRET=super-secret-string
OWNER_EMAIL=owner@example.com
OWNER_PASSWORD=changeMe123!
CLIENT_ORIGIN=http://localhost:5173,http://127.0.0.1:5173
